footer#footer
  div.profiles
    h3 Launcher Profiles
    select#profile
    a.fa.fa-cog(href='javascript:')
    a.fa.fa-plus(href='javascript:')
      
  div.users

  button#launch(href='javascript:' disabled)
    h1.primary ...
    h2.secondary ...
