header#frame
  div.title
    a#windowOptions.fa.fa-bars(href='javascript:')
    p.title-name #{name} v#{version}
  div.window
    a#windowMinimize.fa.fa-minus(href='javascript:')
    a#windowClose.fa.fa-close(href='javascript:')
