doctype html
html
  head
    meta(charset='utf8')
    title Taking Inventory
    
    link(rel='stylesheet' type='text/css' href='styles/console.css')
    
    script(src='js/events.js')
    script(src='js/console.js')
  body
    div#tabs
    div#console
    
    
