doctype html
html
  head
    meta(charset='utf8')
    title #{name} v#{version}

    link(rel='stylesheet' type='text/css' href='styles/splash.css')
    link(rel='stylesheet' type='text/css' href='styles/fontawesome.css')
    
    //script(src='js/splash.js')
  body
    img#icon(src='img/icon.svg')
    i#spinner.fa.fa-cog.fa-spin
