/*
 * Color definitions for Taking Inventory.
 */

// frame and footer colors
$color-dark-bg: #333;
$color-dark-fg: #666;

// twitter feed and options pages
$color-light-bg: #E2E2E2;
$color-light-fg: #555;

// patchnotes
$color-med-bg: #717171;
$color-med-fg: #C6C6C6;

// accents
$color-green: #82C655;
$color-blue: #6397C4;
