/**
  * Taking Inventory font definitions
  */

// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

// Roboto Condensed
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}
