#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  #modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  #modalForeground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    background-color: $color-light-bg;
    border-radius: 5px;
    transition: width 0.25s, height 0.25s;
    overflow: hidden;
    a.close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12pt;
      color: $color-light-fg;
      text-decoration: none;
      opacity: 0.7;
    }
    .menu {
      width: 150px;
      height: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      background-color: $color-dark-bg;
      float: left;
      .menu-header {
        display: block;
        font-weight: bold;
        color: #f5f5f5;
        padding: 0 15px;
        padding-top: 15px;
        border-bottom: rgba(255, 255, 255, 0.2);
        text-transform: uppercase;
        font-size: 11pt;
      }
      .menu-item {
        display: block;
        padding: 10px 15px;
        transition: background-color 250ms, color 250ms, box-shadow 250ms;
        width: 100%;
        color: $color-dark-fg;
        font-size: 10pt;
        &:hover {
          box-shadow: 4px 0 0 0 ($color-green - #333) inset;
          cursor: pointer;
          color: $color-dark-fg + #444;
        }
        &.active {
          box-shadow: 4px 0 0 0 $color-green inset;
          color: $color-dark-fg + #444;
        }
        &.menu-item-sm {
          font-size: 8pt;
          padding: 6px 15px;
        }
      }
      .menu-hr {
        display: block;
        width: 20%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 5px 10%;
        opacity: 0.4;
      }
    }
    .container {
      .content {
        width: calc(100% - 150px);
        max-height: calc(100% - 50px);
        margin: 0;
        padding: 0;
        float: right;
        color: $color-light-fg;
        & > div {
          padding: 10px;
          h1.title {
            padding: 0;
            margin: 10px;
            font-size: 14pt;
            border-bottom: 1px rgba(0,0,0,0.02) solid;
            width: 100%;
          }
          .menu-setting {
            display: block;
            color: $color-light-fg;
            padding: 5px;
            &.menu-setting-switch {
              position: relative;
              display: inline-block;
              width: 30px;
              height: 18px;
              vertical-align: middle;
              input {
                display: none;
                &:checked + .slider { /*background-color: $color-green - $color-dark-bg;*/ }
                &:focus + .slider { box-shadow: 0 0 1px $color-green; }
                &:checked + .slider:before {
                  transform: translateX(12px);
                  background-color: $color-green;
                }
              }
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-dark-bg;
                border-radius: 9px;
                transition: 250ms;
                &:before {
                  position: absolute;
                  content: '';
                  height: 14px;
                  width: 14px;
                  left: 2px;
                  top: 2px;
                  transition: 250ms;
                  background-color: $color-light-bg;
                  border-radius: 50%;
                }
              }
              & + span {
                font-size: 10pt;
                padding: 5px;
                display: inline-block;
                vertical-align: middle;
                transition: 250ms;
                &:hover {
                  cursor: pointer;
                  opacity: 0.8;
                }
              }
            }
            &.menu-setting-text {
              font-size: 10pt;
              & + input {
                border-radius: 5px;
                border: none;
                outline: none !important;
                background-color: rgba(0,0,0,0.05);
                color: rgba(0,0,0,0.3);
                margin: 0 5px;
                padding: 4px;
              }
            }
          }
        }
      }
      .buttons {
        width: calc(100% - 150px);
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        max-height: 50px;
        padding: 15px;
        background-color: rgba(0,0,0,0.1);
        button {
          border-radius: 4px;
          padding: 5px 10px;
          background-color: $color-green;
          border: none;
          outline: none !important;
          color: #f5f5f5;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
