div#menuLauncher
  h1.title Launcher Settings
  
  label.menu-setting.menu-setting-switch
    input(type="checkbox", data-setting="launcher:showConsole")
    div.slider
  span Show Launcher Console
  
  label.menu-setting.menu-setting-text Game Directory
  input(type="text", data-setting="launcher:gameDir")
  
    
