div#menuLauncher
  h1.title Launcher Settings
  
  label.menu-setting.menu-setting-switch(data-menu="launcher:showConsole")
    input(type="checkbox")
    div.slider
  span Show Launcher Console
  
  label.menu-setting.menu-setting-text(data-menu="launcher:gameDir") Game Directory
  input(type="text")
  
    
