div#menuProfile
  h1.title Game Profiles
  select#menuProfileList
  div#menuProfileSelection
    //- profile name
    label.menu-setting.menu-setting-text
    input(type="text",data-setting="profile:name")
    
    //- profile version
    label.menu-setting.menu-setting-select
    select#menuProfileVersion(data-setting="profile:version")
    
    //- show experimental versions
    label.menu-setting.menu-setting-switch
      input(type="checkbox", data-setting="profile:useCustom")
      div.slider
    span Use Modded Versions
    br
    
    //- show custom versions
    label.menu-setting.menu-setting-switch
      input(type="checkbox", data-setting="profile:useExperimental")
      div.slider
    span Allow Snapshots
    br
