doctype html
html
  head
    meta(charset='utf8')
    title= `${app.productName} v${app.version}`

    link(rel='stylesheet' type='text/css' href='../styles/app.css')
    link(rel='stylesheet' type='text/css' href='../styles/splash.css')
  body
    h1.text-center ...
